﻿@{
    ViewBag.Title = "Sobre";
}

<section id="main"></section><!--fim section main-->

<div class="container">
    <article id="main-col">
        <h1>Sobre Nós</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque magni nulla molestias fuga impedit quas numquam necessitatibus sint nemo vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, laudantium, quaerat. Sunt cum facere dicta explicabo quo. Reprehenderit, dolore, et?</p>

        <p class="dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cumque sit labore voluptate veritatis esse, sint assumenda, incidunt nostrum pariatur libero soluta dignissimos quam nihil exercitationem. Aspernatur possimus culpa laudantium nesciunt. Tempore est, quidem perspiciatis nulla ratione ab illum. Sed repellendus sunt, repellat quasi, saepe neque praesentium voluptatibus ad sequi.</p>
    </article><!--fim article mail-col-->

    <aside id="sidebar">
        <div class="dark">
            <h3>O que fazemos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut assumenda vel adipisci magnam, impedit facere amet accusantium repellendus delectus obcaecati esse laborum vitae dolore dicta voluptatibus, molestiae ipsum! Ullam numquam modi eum eos aut architecto.</p>
        </div><!--fim div dark-->
    </aside><!--fim aside-->
</div><!--fim div container-->